<a href="https://colab.research.google.com/github/hchamane/codio.essex/blob/master/LCS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
alist  = [10,20,30,40,50] # This is a list of integers
xlist = [1.24,3.22,4.55,9.03] # This is a list of floats

names = ["Stelios","Fergus","Joe Li"]

Add elements to a list using the append.

In [ ]:
alist = []
alist.append(10)
alist.append(20)
alist.append(30)

In [ ]:
print(alist)

[10, 20, 30]

          0. 1. 2. 3.
alist = [10,20,30,40]

Delete an element

In [ ]:
alist.pop(1) # you use the index value

20

In [ ]:
print(alist)

[10, 30]

Update an element, for example update element with index 0 (that is number 10) to 20.

In [ ]:
alist[0] = 20

In [ ]:
alist

[20, 30]

## Searching

Searching for an element (key) in a list of data.

In [ ]:
alist = [10,20,30,40,50,60]
key = 50

found = False
for element in alist:
  if element == key:
    found = True

print(found)

True

In [ ]:
alist = [10,2,4,1,5,9,8]

alist.sort()

print(alist)

[1, 2, 4, 5, 8, 9, 10]

# Examples of datasets

In [ ]:
#.        0. 1. 2. 3.  
alist = [10,20,30,40]
#.       -4 -3 -2 -1
alist[-1]

40

In [ ]:
#.         name.     city.  age ?
alist = ["Stelios","London",40]

### A dictionary is a key:value datastructure

In [ ]:
adict = {"name":"Stelios", "city":"London", "age":40}

In [ ]:
adict["name"]

'Stelios'

In [ ]:
contact_book = {
    "names":["Stelios","Fergus","Hainadine","Joe Li"], 
    "city": ["London","London","Manchester","Paris"],
    "mobile_num":[12341234, 34656453, 34533434, 43435444]
  }

### Example of adding data to the dictionary

In [ ]:
contact_book["names"].append("Tom")
contact_book["city"].append("Athens")
contact_book["mobile_num"].append(9999999)

### Remove data

In [ ]:
contact_book["names"].pop(0)
contact_book["city"].pop(0)
contact_book["mobile_num"].pop(0)

12341234

In [ ]:
print(contact_book)

{'names': ['Fergus', 'Hainadine', 'Joe Li', 'Tom'], 'city': ['London', 'Manchester', 'Paris', 'Athens'], 'mobile_num': [34656453, 34533434, 43435444, 9999999]}

In [ ]:
contact_book["city"][0] = "AAAAAA"

In [ ]:
print(contact_book)

{'names': ['Fergus', 'Hainadine', 'Joe Li', 'Tom'], 'city': ['AAAAAA', 'Manchester', 'Paris', 'Athens'], 'mobile_num': [34656453, 34533434, 43435444, 9999999]}

In [ ]:
print(contact_book)

{'names': ['Stelios', 'Fergus', 'Hainadine', 'Joe Li', 'Tom'], 'city': ['London', 'London', 'Manchester', 'Paris', 'Athens'], 'mobile_num': [12341234, 34656453, 34533434, 43435444, 9999999]}

In [ ]:
print(contact_book["names"])
print(contact_book["city"])

['Stelios', 'Fergus', 'Hainadine', 'Joe Li']
['London', 'London', 'Manchester', 'Paris']

In [ ]:
# For loop for a list

alist = [1,2,3,4,5]

for number in alist:
  print(number)

1
2
3
4
5

In [ ]:
# For loop for a dictionary

for key,value in contact_book.items():
  print(key,value[1])

names Fergus
city London
mobile_num 34656453

How to search for data

In [ ]:
for key,value in contact_book.items():
  for name in value:
    if name == "Fergus":
      print(name)

Fergus